{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "OpenWeather": {
    "URL": "https://api.openweathermap.org/data/2.5/weather?zip={0},{1}&appid={2}&units=metric",
    "APIKey": "<Your OpenWeather API Key>"
  },
  "GoogleTimeZone": {
    "URL": "https://maps.googleapis.com/maps/api/timezone/json?location={0},{1}&timestamp=0&key={2}",
    "APIKey": "<Your Google Cloud API Key>"
  }
}
